<div class="cover rundown" id="rsvp">
  <div class="container" style="position:relative;z-index:2;">
    <div class="top-acara"></div>
    <div class="row justify-content-md-center">
      <div class="item-rundown wow animate__animated animate__fadeInUp col-12">
        <h1 class="jusec sectitle item scrollFade">RSVP</h1><br />

        <b class="jusec btnstyle item scrollFade">Dear Guest Name,</b>
        <br />
        <div class="jusec btnstyle">
          You have confirmed<br />
          (2 Pax)
        </div>
      </div>
    </div>
  </div>
</div>
