<div class="cover rundown" id="rsvp">
  <div class="container" style="position:relative;z-index:2;">
    <div class="top-acara"></div>
    <div class="row justify-content-md-center">
      <div class="item-rundown wow animate__animated animate__fadeInUp col-12">
        <h1 class="jusec sectitle item scrollFade">RSVP</h1><br />

        <b class="jusec btnstyle item scrollFade">Dear </b>

        <select
          id="generalGuestTitle"
          name="generalGuestTitle"
          class="form-control btnstyle custom-form-control"
        >
          <option value="Mr.">Mr.</option>
          <option value="Ms.">Ms.</option>
          <option value="Mrs.">Mrs.</option>
          <option value="Mrs."></option>
        </select>
        <input
          type="text"
          id="generalGuestName"
          name="generalGuestName"
          placeholder="Full Name"
          class="form-control btnstyle custom-form-control-paddingLeft"
        />

        <br /><br />

        <div class="jusec btnstyle item scrollFade" id="rsvp-container">
          <!-- Content will be dynamically rendered here based on willJoin value -->
        </div>

        <script type="module">
          import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
          import {
            getDatabase,
            ref,
            push,
          } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";

          const firebaseConfig = {
            apiKey: "AIzaSyCtLpbWHZmZn3dCOILpt7JnWbj-KDqviGs",

            authDomain: "dear-21512.firebaseapp.com",

            projectId: "dear-21512",

            storageBucket: "dear-21512.appspot.com",

            messagingSenderId: "722019212853",

            appId: "1:722019212853:web:646c85a21e5d1715015b7c",

            measurementId: "G-GQL33WTE0B",

            databaseURL:
              "https://dear-21512-default-rtdb.asia-southeast1.firebasedatabase.app",
          };

          // Initialize Firebase
          const app = initializeApp(firebaseConfig);
          const db = getDatabase(app);

          function renderRSVPForm() {
            const container = document.getElementById("rsvp-container");
            container.innerHTML = `
      <p>Would you like to join us for the wedding ceremony?</p>
      <label style="margin-top: 16px">
        <input type="radio" name="joinEvent" value="true" id="joinYes"> Yes, Delightfully Accepts With Pleasure
      </label><br>

      <div id="guestsNumberInput" style="display:none;">
        <label for="guestsInput" style="margin-top: 12px">Number of Guests:</label><br>
        <input class="centerInput form-control btnstyle custom-form-control-paddingLeft" type="number" id="guestsInput" min="0" value="1" disabled><br><br>
      </div>

      <div id="guestEmailInput" style="display:none;">
        <label for="guestEmail">Email:</label><br>
        <input class="centerInput form-control btnstyle custom-form-control-paddingLeft" type="email" id="guestEmail" value="" placeholder="Optional Email" disabled><br><br>
      </div>
     

      <div id="vegetarianInput" style="display:none;">
        <label for="vegetarian">Vegetarian </label>
        <input type="checkbox" id="vegetarian"><br><br>
      </div>

      <div id="noteInput" style="display:none;">
        <label for="note">Note:</label><br>
        <input class="centerInput form-control btnstyle custom-form-control-paddingLeft" type="text" id="note" value="" placeholder="Optional Note" disabled><br><br>
      </div>


      <button id="submitRSVP">Submit</button>
    `;

            // const joinCheckbox = document.getElementById("joinCheckbox");
            const guestsInput = document.getElementById("guestsInput");
            const guestEmail = document.getElementById("guestEmail");
            const vegetarian = document.getElementById("vegetarian");
            const note = document.getElementById("note");
            const submitButton = document.getElementById("submitRSVP");

            const radioButtons = document.querySelectorAll(
              'input[name="joinEvent"]'
            );

            // Add event listener to each radio button
            radioButtons.forEach((radio) => {
              radio.addEventListener("change", () => {
                // Get the selected value
                const willJoinRadioValue = document.querySelector(
                  'input[name="joinEvent"]:checked'
                ).value;

                guestsInput.disabled = !(willJoinRadioValue === "true");
                guestEmail.disabled = !(willJoinRadioValue === "true");
                vegetarian.disabled = !(willJoinRadioValue === "true");
                note.disabled = !(willJoinRadioValue === "true");

                const guestsNumberInputComponent =
                  document.getElementById("guestsNumberInput");
                const guestEmailInputComponent =
                  document.getElementById("guestEmailInput");
                const vegetarianInputComponent =
                  document.getElementById("vegetarianInput");
                const noteInputComponent = document.getElementById("noteInput");
                // Toggle visibility based on the boolean value
                if (willJoinRadioValue === "true") {
                  guestsNumberInputComponent.style.display = "block"; // Show the component
                  guestEmailInputComponent.style.display = "block"; // Show the component
                  vegetarianInputComponent.style.display = "block"; // Show the component
                  noteInputComponent.style.display = "block"; // Show the component
                } else {
                  guestsNumberInputComponent.style.display = "none"; // Hide the component
                  guestEmailInputComponent.style.display = "none"; // Hide the component
                  vegetarianInputComponent.style.display = "none"; // Hide the component
                  noteInputComponent.style.display = "none"; // Hide the component
                }
              });
            });

            submitButton.addEventListener("click", async () => {
              let willJoinRadioValue;
              try {
                willJoinRadioValue = document.querySelector(
                  'input[name="joinEvent"]:checked'
                ).value;
              } catch (error) {
                alert("Please select if you would like to join the event.");
                throw new Error("Please select if you will join the event.");
              }

              const willJoin = willJoinRadioValue;
              const numberOfGuests = willJoin
                ? parseInt(guestsInput.value, 10)
                : 0;

              let guestName;

              try {
                guestName = document.getElementById("generalGuestName").value;
              } catch (error) {
                console.error("Error getting guest name: ", error);
                throw new Error("Guest name is required.");
              }

              if (!guestName) {
                alert("Please enter your name.");
                throw new Error("Guest name is required.");
              }

              let rsvpData = {
                name: guestName,
                pronoun: document.getElementById("generalGuestTitle").value,
                willJoin: willJoinRadioValue === "true" ? "true" : "false",
                numberOfGuest: numberOfGuests,
                email: guestEmail.value || "",
                vegetarian: vegetarian.checked || false,
                note: note.value || "",
              };

              // Add new RSVP
              const rsvpRef = await ref(db, "rsvps/");
              try {
                const newRef = await push(rsvpRef, rsvpData);
                alert(
                  `Thank you for your response. We will redirect you to your RSVP page.`
                );
                window.location.href = `/${newRef.key}`;
              } catch (error) {
                alert("There is an error in sending your response.");
                console.error("Error adding RSVP: ", error);
              }
            });
          }

          renderRSVPForm();
        </script>
      </div>
    </div>
  </div>
</div>
