<div class="cover rundown" id="rsvp">
  <div class="container" style="position:relative;z-index:2;">
    <div class="top-acara"></div>
    <div class="row justify-content-md-center">
      <div class="item-rundown wow animate__animated animate__fadeInUp col-12">
        <h1 class="jusec sectitle item scrollFade">RSVP</h1><br />

        <b class="jusec btnstyle item scrollFade"><span class="guest-pronoun">Mr./Mrs./Ms.</span> <span class="guest-name">Guest Name</span>,</b>
        <br /><br />

        <div class="jusec btnstyle item scrollFade" id="rsvp-container">
          <!-- Content will be dynamically rendered here based on willJoin value -->
        </div>


      </div>
    </div>
  </div>
</div>
