#scroll-down {
    display: block;
}

/*
#button-open {
    display: none;
}
*/

@media(max-width:768px) {
    #wrapperUndangan .separatorQuotes {
        display: none;
    }
    #wrapperUndangan .scrollableUndangan {
        width: 100% !important;
    }
    #scroll-down {
        display: none;
    }
    #button-open {
        display: block;
    }
}

/* @media(max-width:768px){
    .bottom_style#button-open{
        position: absolute;
        bottom: 130px;
        right: 50%;
        transform: translate(50%,-50%);
    }
} */

