button {
  display: block;
  margin: 2em auto 0;
  background: #ffffff94;
  border: 0px solid #444;
  padding: 5px 10px;
  border-radius: 15px;
  color: #000;
  font-size: 14px;
}

.md-modal {
  position: fixed;

  left: 0;
  right: 0;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(228, 240, 227, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-effect-12 .md-content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Default background image (portrait orientation) */ 
.md-show.md-effect-12 ~ .md-overlay {
  /* background-image: url("https://invitera.site/files/event/159/cc9992e8cafafb6ab3bb1145e10413f5.png"); */
  /* background-image: url("/images/IMG_0562.JPG"); */
  /* background-image: url("/images/IMG_2444.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background image for aspect ratio greater than 1 (landscape orientation) */
@media (min-aspect-ratio: 1/1) {
  .md-show.md-effect-12 ~ .md-overlay {
    /* background-image: url("https://invitera.site/files/event/159/b08a61d6fb66e34b6dea701c5c42f6dd.png"); */
    /* background-image: url("/images/327A4059.JPEG"); */
  }
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
  background: transparent;
}

.md-show.md-effect-12 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.content-modal {
  position: fixed;
  bottom: 190px;
  width: 100%;
}
