<div class="cover rundown">
  <div class="container" style="position:relative;z-index:2;">
    <div class="top-acara"></div>
    <div class="row justify-content-md-center">
      <div class="item-rundown wow animate__animated animate__fadeInUp col-12">
        <h1 class="jusec sectitle item scrollFade">Save the Date</h1>
        <br />
        <div style="font-size:3em" class="basecolour item scrollFade">
          <div id="hari" class="countstyle" style="width:25%;float:left"></div>
          <div id="jam" class="countstyle" style="width:25%;float:left"></div>
          <div id="menit" class="countstyle" style="width:25%;float:left"></div>
          <div id="detik" class="countstyle" style="width:25%;float:left"></div>
        </div>
        <div
          class="countstyle basecolour item scrollFade"
          style="font-size:1em"
        >
          <div style="width:25%;float:left">Days</div>
          <div style="width:25%;float:left">Hours</div>
          <div style="width:25%;float:left">Minutes</div>
          <div style="width:25%;float:left">Seconds</div>
        </div>
        <br /><br />
        <br /><br />

        <div
          class="countstyle item scrollFade"
          style="font-size:2em;margin-top:50px;margin-bottom:50px"
        >
          10 November 2024
        </div>
        <a
          href="https://calendar.google.com/calendar/u/0/r/eventedit?text=The+Wedding+of+Phuoc+%26+Nghi&dates=20241110/20241110&details=Wedding Ceremony&location=Phú Gia Xavia Restaurant, Đ. 2 Tháng 9, Hoà Cường Bắc, Hải Châu, Đà Nẵng 550000, Vietnam&sprop&sprop=name:&pli=1"
          target="_blank"
          class="item scrollFade"
        >
          <img
            src="https://invitera.site/files/themes/43/c58c6a8f9e7867f884c30a82bf966ed8.png"
            style="width:200px"
            class="item scrollFade"
          />
        </a>
      </div>
    </div>
  </div>
</div>
