---
import GalleryImage from "./GalleryImage.astro";
---

<div class="">
  <div class="gallleryWrapper">
    <section id="galleries" style="padding-bottom:0;">
      <div class="quoteGalleries">
        <h1
          class="title-text text-center wow animate__animated animate__fadeInUp jusec sectitle item scrollFade"
        >
          Our Moments
        </h1>
        <div class="container">
          <p
            class="padding-balance text-center wow animate__animated animate__fadeInRight"
            style="margin-bottom:40px;"
          >
          </p>
        </div>
      </div>

      <div style="padding:10px">

        <a
          href="/images/327A3351.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A3351_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/myKheKiss.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/myKheKiss_small_tall.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        

        <a
          href="/images/327A4210.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4210_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/327A4258.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4258_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        

        <a
          href="/images/327A4431.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4431_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/327A4540.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4540_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/327A5014.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5014_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        

        <a
          href="/images/327A5149.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5149_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        

        <a
          href="/images/327A5178.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5178_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/yenWalking.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/yenWalking_small.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>


        <a
          href="/images/yenHolding.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/yenHolding_small.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>


        <a
          href="/images/327A4179.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4179_small3.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>


        <a
          href="/images/327A5167.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5167_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/japanTempleProposal.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/japanTempleProposal_small.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/japanTempleStand.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/japanTempleStand_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/bellUmbrella.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/bellUmbrella_small.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/japanTempleSkyTree.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/japanTempleSkyTree_small2.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/blackWhiteUmbrella.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/blackWhiteUmbrella_small.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/blackWhiteSword.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/blackWhiteSword_small.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>


        
      </div>
    </section>
  </div>
</div>
