<div class="">
  <div class="gallleryWrapper">
    <section id="galleries" style="padding-bottom:0;">
      <div class="quoteGalleries">
        <h1
          class="title-text text-center wow animate__animated animate__fadeInUp jusec sectitle item scrollFade"
        >
          Our Moments
        </h1>
        <div class="container">
          <p
            class="padding-balance text-center wow animate__animated animate__fadeInRight"
            style="margin-bottom:40px;"
          >
          </p>
        </div>
      </div>

      <div style="padding:10px">
        <a
          href="https://invitera.site/files/event/159/94539024909bd3e523249eb696fde1e4.jpg"
          data-lightbox="image-0"
        >
          <img
            src="https://invitera.site/files/event/159/94539024909bd3e523249eb696fde1e4.jpg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>
        <a
          href="https://invitera.site/files/event/159/02f03859bc19b6599bd67c745e3b528e.jpg"
          data-lightbox="image-0"
        >
          <img
            src="https://invitera.site/files/event/159/02f03859bc19b6599bd67c745e3b528e.jpg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>
        <a
          href="https://invitera.site/files/event/159/c168c5125a63d7cb016419ea4e4508b7.jpg"
          data-lightbox="image-0"
        >
          <img
            src="https://invitera.site/files/event/159/c168c5125a63d7cb016419ea4e4508b7.jpg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>
        <a
          href="https://invitera.site/files/event/159/4d3907073c3ca8494e7d2e9d04488dff.jpg"
          data-lightbox="image-0"
        >
          <img
            src="https://invitera.site/files/event/159/4d3907073c3ca8494e7d2e9d04488dff.jpg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>
        <a
          href="https://invitera.site/files/event/159/4fe8665d3750d07035c299da68ee20d9.jpg"
          data-lightbox="image-0"
        >
          <img
            src="https://invitera.site/files/event/159/4fe8665d3750d07035c299da68ee20d9.jpg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>
        <a
          href="https://invitera.site/files/event/159/0a09325a2da6deef5b90b7f55fce5a25.jpg"
          data-lightbox="image-0"
        >
          <img
            src="https://invitera.site/files/event/159/0a09325a2da6deef5b90b7f55fce5a25.jpg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>
      </div>
    </section>
  </div>
</div>
