---
import GalleryImage from "./GalleryImage.astro";
---

<div class="">
  <div class="gallleryWrapper">
    <section id="galleries" style="padding-bottom:0;">
      <div class="quoteGalleries">
        <h1
          class="title-text text-center wow animate__animated animate__fadeInUp jusec sectitle item scrollFade"
        >
          Our Moments
        </h1>
        <div class="container">
          <p
            class="padding-balance text-center wow animate__animated animate__fadeInRight"
            style="margin-bottom:40px;"
          >
          </p>
        </div>
      </div>

      <div style="padding:10px">

        <a
          href="/images/327A3351.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A3351.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        

        <a
          href="/images/327A4210.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4210.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/327A4258.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4258.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        

        <a
          href="/images/327A4431.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4431.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/327A4540.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4540.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <a
          href="/images/327A5014.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5014.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        

        <a
          href="/images/327A5149.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5149.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        

        <a
          href="/images/327A5178.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5178.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <!-- <a
          href="/images/327A5612.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5612.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a> -->

        <a
          href="/images/327A4179.jpg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4179.jpg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>

        <!-- <a
          href="/images/327A4367.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4367.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a> -->

        <!-- <a
          href="/images/327A5118.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5118.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a> -->

        <!-- <a
          href="/images/327A3729.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A3729.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a> -->

        <!-- <a
          href="/images/327A4059.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A4059.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a> -->

        <a
          href="/images/327A5167.jpeg"
          data-lightbox="image-0"
        >
          <img
            src="/images/327A5167.jpeg"
            style="padding:2px;width:50%;float:left"
            class="scrollFade"
          />
        </a>


        
      </div>
    </section>
  </div>
</div>
