<div class="cover rundown" id="maps">
  <div class="container" style="position:relative;z-index:2;">
    <div class="top-acara"></div>
    <div class="row justify-content-md-center">
      <div class="item-rundown wow animate__animated animate__fadeInUp col-12">
        <h1 class="jusec sectitle item scrollFade">Event</h1><br />

        <img
          src="https://invitera.site/files/event/159/90d5c57f6b2359a348b02b000bb37e53.png"
          style="width:100%"
          class="item scrollFade"
        />

        <img
          src="https://invitera.site/files/event/159/7fa7079e820156f5d072aac9ca056841.png"
          style="width:100%"
          class="item scrollFade"
        />
        <a href="https://maps.app.goo.gl/iN3p1zG1gVum92hM8" target="_blank">
          <img
            src="https://invitera.site/files/themes/43/773ac80e0c460f2dc369b312ceeaa9b0.png"
            style="width:200px"
            class="item scrollFade"
          />
        </a>

        <img
          src="https://invitera.site/files/event/159/657ee569eba15ada5f5a5134ffb48042.png"
          style="width:100%"
          class="item scrollFade"
        />
        <a href="https://maps.app.goo.gl/SnFFpjYFTHotrbcG7" target="_blank">
          <img
            src="https://invitera.site/files/themes/43/773ac80e0c460f2dc369b312ceeaa9b0.png"
            style="width:200px"
            class="item scrollFade"
          />
        </a>

        <img
          src="https://invitera.site/files/event/159/3802f623307bb5aff7186656da326401.png"
          style="width:100%"
          class="item scrollFade"
        />
        <a href="https://maps.app.goo.gl/SnFFpjYFTHotrbcG7" target="_blank">
          <img
            src="https://invitera.site/files/themes/43/773ac80e0c460f2dc369b312ceeaa9b0.png"
            style="width:200px"
            class="item scrollFade"
          />
        </a>
      </div>
    </div>

    <div class="top-acara"></div>
  </div>
</div>
