<div class="cover rundown" id="maps">
  <div class="container" style="position:relative;z-index:2;">
    <div class="top-acara"></div>
    <div class="row justify-content-md-center">
      <div class="item-rundown wow animate__animated animate__fadeInUp col-12">
        <h1 class="jusec sectitle item scrollFade">Event</h1><br />

        <!-- TODO: regards the pleaseure text -->
        <img
          src="/images/regardsPresence.png"
          style="width:100%"
          class="item scrollFade"
        />

        <!-- TODO: ceremony, calendar, address image -->
        <img
          src="/images/IMG_0565.PNG"
          style="width:100%"
          class="item scrollFade"
        />

        <!-- location -->
         <br><br>
        <a href="https://maps.app.goo.gl/3TranJ5MGDHMMpZ4A" target="_blank">
          <img
            src="/images/viewLocation.png"
            style="width:200px"
            class="item scrollFade"
          />
        </a>


      </div>
    </div>

    <div class="top-acara"></div>
  </div>
</div>
