<div class="cover rundown reveal" id="coupleProfile">
    <div class="container" style="position:relative;z-index:2;">
      <div class="top-acara"></div>
      <div class="row justify-content-md-center">
        <div
          class="item-rundown wow animate__animated animate__fadeInUp col-12"
        >
          <h1 class="jusec sectitle item scrollFade">
            Groom & Bride
          </h1><br />

          <!-- groom image -->
          <img
            src="https://invitera.site/files/event/159/d763e64f367dc5f02eef25b1987d3a0c.png"
            style="width:100%"
            class="item scrollFade"
          />

          <p class="instagram-profil">
            <!-- groom's instagram -->
            <a
              href="https://www.instagram.com/the.invitera/"
              target="_blank"
              style="color:#292e2b;"
              class=""
            >
              <img
                src="https://invitera.site/files/themes/43/2f05c09cb49dccf7028ef632788b5a1a.png"
                style="width:50px"
                class="item scrollFade"
              />
            </a>
          </p>

          <img
            src="https://invitera.site/files/event/159/450e1133dcf4a0d42d4509aa595ce3a1.png"
            style="width:100%"
            class="item scrollFade"
          />

          <!-- bride image -->
          <img
            src="https://invitera.site/files/event/159/78353ef5b4fac5bf8d8a1117cc1c8eb1.png"
            style="width:100%"
            class="item scrollFade"
          />
          <p class="instagram-profil">
            <!-- bride instagram -->
            <a
              href="https://www.instagram.com/the.invitera/"
              target="_blank"
              style="color:#292e2b;"
              class=""
            >
              <img
                src="https://invitera.site/files/themes/43/2f05c09cb49dccf7028ef632788b5a1a.png"
                style="width:50px"
                class="item scrollFade"
              />
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>