<div class="cover rundown" id="wishes">
  <div class="container" style="position:relative;z-index:2;">
    <div class="top-acara"></div>
    <div class="row justify-content-md-center">
      <div class="item-rundown wow animate__animated animate__fadeInUp col-12">
        <h1 class="jusec sectitle item scrollFade">Wishes to Us</h1><br />
        <form
          method="POST"
          action=""
          class="item scrollFade"
        >
          <input type="hidden" name="EVID" value="159" />
          <fieldset class="form-group">
            <div>
              <input
                type="text"
                name="NAMA"
                placeholder="FULL NAME"
                required="required"
                aria-required="true"
                maxlength="200"
                value=""
                class="form-control btnstyle"
              />
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div>
              <textarea
                name="MESSAGE"
                minlength="20"
                placeholder="WISHES"
                rows="3"
                class="form-control btnstyle"
                minlength="20"
                required></textarea>
            </div>
          </fieldset>

          <div class="b-overlay-wrap position-relative">
            <button
              type="submit"
              name="submit"
              value="wishes"
              style="background:#8c1414;color:#ffe4b6"
              class="btn btn-primary btn-block rounded-pill btnstyle"
              >SEND</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
