<div class="content-layout cover">
  <style>
    #slider {
      opacity: 1;
      transition: opacity 1s;
    }

    #slider.fadeOut {
      opacity: 0;
    }
  </style>

  <div style="position:relative">
    <img id="slider" />
  </div>

  <button
    onclick="window.location.href='#rsvp'"
    id="button-open"
    type="button"
    class="btn btn-outline-dark rounded-pill undefined bottom_style animate__infinite animate__animated animate__flash animate__slower"
    style="color: rgb(255, 255, 255); border: 2px solid rgb(255, 255, 255); animation-delay: 0.6s;text-align: center;"
    >RSVP
  </button>

  <script>
    var imgArray = [
      "/images/IMG_0562.JPG",
      "/images/IMG_0531.JPG",
      "/images/IMG_0532.JPG",
      "/images/IMG_0533.JPG",
      "/images/IMG_0534.JPG",
    ];
    var totimg = 3;
    var curIndex = 0;
    var imgDuration = 5000;
    if (totimg < 2) {
      imgDuration = 10000000000000000;
    }

    function slideShow() {
      document.getElementById("slider").className += "fadeOut";
      setTimeout(function () {
        document.getElementById("slider").src = imgArray[curIndex];
        document.getElementById("slider").className = "";
      }, 1000);
      curIndex++;
      if (curIndex == imgArray.length) {
        curIndex = 0;
      }
      setTimeout(slideShow, imgDuration);
    }
    slideShow();
  </script>
</div>
