<div class="cover rundown" id="wishes">
  <div class="container" style="position:relative;z-index:2;">
    <div class="top-acara"></div>
    <div class="row justify-content-md-center">
        
      <div
        class="item-rundownx wow animate__animated animate__fadeInUp col-12"
        style="padding-top:30px"
      >
        <h1 class="jusec sectitle item scrollFade">Best Wishes</h1>

        <div class="cover moment-list">

          <div
            style="padding:20px;height:400px;overflow-y: scroll;"
            class="item scrollFade"
          >

            <div
              class="row"
              style="border-radius:20px;border:1px solid #ddd;margin-bottom:1em;background:#f7f7f7;padding:10px;color:#000"
            >
              <div class="col-pad-left col">
                <b class="btnstyle">testt</b>
                <hr />
                <p class="btnstyle">
                  <i>&quot;tete aset awet awetaw etawet&quot;</i><br /><br
                  /><span style="font-size:10px">
                    May 13, 2024 <span style="padding:5px">|</span> 14:56</span
                  >
                </p>
              </div>
            </div>
            <div
              class="row"
              style="border-radius:20px;border:1px solid #ddd;margin-bottom:1em;background:#f7f7f7;padding:10px;color:#000"
            >
              <div class="col-pad-left col">
                <b class="btnstyle">test</b>
                <hr />
                <p class="btnstyle">
                  <i>&quot;test a4wetawedta sdf arwe awer&quot;</i><br /><br
                  /><span style="font-size:10px">
                    May 13, 2024 <span style="padding:5px">|</span> 14:55</span
                  >
                </p>
              </div>
            </div>
            <div
              class="row"
              style="border-radius:20px;border:1px solid #ddd;margin-bottom:1em;background:#f7f7f7;padding:10px;color:#000"
            >
              <div class="col-pad-left col">
                <b class="btnstyle">Natasha & Thomas</b>
                <hr />
                <p class="btnstyle">
                  <i
                    >&quot;"May all your years ahead be filled with everlasting
                    joy."&quot;</i
                  ><br /><br /><span style="font-size:10px">
                    May 08, 2024 <span style="padding:5px">|</span> 14:48</span
                  >
                </p>
              </div>
            </div>
            <div
              class="row"
              style="border-radius:20px;border:1px solid #ddd;margin-bottom:1em;background:#f7f7f7;padding:10px;color:#000"
            >
              <div class="col-pad-left col">
                <b class="btnstyle">Natasha & Thomas</b>
                <hr />
                <p class="btnstyle">
                  <i
                    >&quot;May all your years ahead be filled with everlasting
                    joy.&quot;</i
                  ><br /><br /><span style="font-size:10px">
                    November 23, 2023 <span style="padding:5px">|</span> 12:48</span
                  >
                </p>
              </div>
            </div>
            <div
              class="row"
              style="border-radius:20px;border:1px solid #ddd;margin-bottom:1em;background:#f7f7f7;padding:10px;color:#000"
            >
              <div class="col-pad-left col">
                <b class="btnstyle">Jane & Surya</b>
                <hr />
                <p class="btnstyle">
                  <i
                    >&quot;We couldn't be happier for you both! Honored to be
                    part of your special day. Congratulations!&quot;</i
                  ><br /><br /><span style="font-size:10px">
                    November 23, 2023 <span style="padding:5px">|</span> 12:47</span
                  >
                </p>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
