<!doctype html>
<html lang="en">
  <head>
    <title>The Wedding of Phuoc & Nghi</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimal-ui"
    />
    <meta
      data-hid="keywords"
      name="keywords"
      content="Wedding Invitation, Phuoc & Nghi, Phuoc, Nghi, Phuoc Pham, Nghi Nguyen, Phuoc & Nghi Wedding, Phuoc & Nghi Wedding Invitation, Ba Phuoc, My Nghi"
    />
    <meta data-hid="charset" charset="utf-8" />
    <meta
      data-hid="mobile-web-app-capable"
      name="mobile-web-app-capable"
      content="yes"
    />
    <meta
      data-hid="apple-mobile-web-app-title"
      name="apple-mobile-web-app-title"
      content="The Wedding of Phuoc & Nghi"
    />
    <meta data-hid="description" name="description" content="" />
    <meta property="og:type" content="invitation" />
    <meta
      property="og:image"
      content="/images/IMG_4860.jpg"
    />
    <meta property="og:description" content="We are very pleased to invite you to our wedding Phuoc & Nghi" />
    <meta property="og:title" content="The Wedding of Phuoc & Nghi" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/lightbox.min.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/aos-styles.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Birthstone&family=Cormorant+Garamond&family=Dancing+Script&family=Great+Vibes&family=Imperial+Script&family=Libre+Bodoni&family=Macondo&family=Montserrat:wght@500&family=Nunito+Sans&family=Satisfy&family=Vujahday+Script&display=swap"
      rel="stylesheet"
    /><link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cormorant+Garamond&family=Libre+Bodoni&family=Macondo&family=Montserrat:wght@500&family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/styleA.css" />
  </head>

  <body style="color:#fff">

    <slot />

    <script
      is:inline
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    ></script>
    <script is:inline src="/js/openInvitation.js" id="rendered-js"></script>
    <script is:inline src="/js/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-in-out-sine",
      });

      document
        .getElementById("contentscroll")
        .addEventListener("scroll", scrollFade);

      var fadeElements = document.getElementsByClassName("scrollFade");

      function scrollFade() {
        var viewportBottom = window.scrollY + window.innerHeight;
        // console.log("viewportBottom : " + viewportBottom);
        for (var index = 0; index < fadeElements.length; index++) {
          var element = fadeElements[index];
          var rect = element.getBoundingClientRect();

          var elementFourth = rect.height / 4;
          var fadeInPoint = window.innerHeight - elementFourth;
          var fadeOutPoint = -(rect.height / 2);
          // console.log("fadeOutPoint : " + fadeOutPoint);

          if (rect.top <= fadeInPoint) {
            element.classList.add("cssanimation");
            element.classList.add("fadeInBottom");
            element.classList.remove("scrollFade--hidden");
          } else {
            element.classList.remove("scrollFade--visible");
            element.classList.add("scrollFade--hidden");
          }

          if (rect.top <= fadeOutPoint) {
            //element.classList.remove('scrollFade--visible');
            //element.classList.add('scrollFade--hidden');
          }
        }
      }
    </script>
    <script is:inline src="https://code.jquery.com/jquery-3.5.1.min.js"
    ></script>
    <script
      is:inline
      src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"
    ></script>
    <script is:inline src="https://wowjs.uk/dist/wow.min.js"></script>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    ></script>
    <script is:inline src="/js/lightbox.min.js"></script>
    <script is:inline src="/js/scriptA.js"></script>
  </body>
</html>
