---
import OverlayImageSeparator from "../overlayImageSeparator/OverlayImageSeparator.astro";
---

<div
  class="separatorQuotes"
  style="background-image:url(https://invitera.site/files/event/159/c5b1e50c2e7b8ca2dd6743e713e33bf3.png);"
>
  <OverlayImageSeparator />
  <section id="separator" style=" padding-top:0;"></section>

  <audio
    id="track"
    loop="loop"
    src="https://invitera.site/files/event/159/e4594ccbfee5674671a41380def9e92c.mp3"
  ></audio>

  <div id="player-container" class="music-control add-shadow play">
    <div id="play-pause">
      <img
        src="https://invitera.site/images/music_on.png"
        style="width:20px"
        id="music_img"
        onclick="changeImage()"
      />
    </div>
  </div>

  <div id="bottom-bar" class="desktop-bar">
    <div class="wrapper add-shadow">
      <ul>
        <li>
          <a href="#coupleProfile" target="_self">
            <img src="https://invitera.site/images/nav_bride.png" />
            <span>Couple</span>
          </a>
        </li>
        <li>
          <a href="#maps" target="_self">
            <img src="https://invitera.site/images/nav_event.png" />
            <span>Location</span>
          </a>
        </li>
        <li>
          <a href="#rsvp" target="_self">
            <img src="https://invitera.site/images/nav_rsvp.png?v2" />
            <span>rsvp</span>
          </a>
        </li>
        <li>
          <a href="#galleries" target="_self">
            <img src="https://invitera.site/images/nav_gallery.png" />
            <span>Galleries</span>
          </a>
        </li>
        <li>
          <a href="#wishes" target="_self">
            <img src="https://invitera.site/images/nav_wishes.png" />
            <span>Wishes</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
